{{template "layout" .}}

{{define "title"}}
	Projects
{{end}}

{{define "content"}}
<div class="projects">
    <div class="heading card">
        <h1>Projects</h1>
        <p>Dashboards, API wrappers, and analyses</p>
    </div>
    <div class="projects-list">
      {{range .Portfolio}}
      <a href="projects/{{.ID}}" class="mdc-button mdc-button--raised mdc--theme-primary mdc-ripple-upgraded mdc-ripple-upgraded--foreground-deactivation">{{.Name}}</a>
      {{ end }}
    </div>
</div>
{{end}}
